GITHUB_TOKEN=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  
GITHUB_USERNAME=JokerMx

# Servidor
PORT=3000

# Base de datos MariaDB
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=231413
DB_NAME=devcraft_studio

# Sesión
SESSION_SECRET=clave_secreta_super_segura_cambiar_en_produccion